<div class="animated fadeIn">
  <!--<app-alert></app-alert>-->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{appId ? '管理' + appId + '的权限' : 'api组列表'}}
          <button *ngIf="!appId" class="btn btn-success btn-sm pull-right" (click)="openEditModal()">添加</button>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th width="5%">id</th>
              <th width="10%">名称</th>
              <th width="20%">url</th>
              <th width="5%">api前缀</th>
              <th width="5%">api info url</th>
              <th width="20%">描述</th>
              <td width="15%">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apiGroup of apiGroups">
              <td>{{apiGroup.id}}</td>
              <td><a href="javascript:void(0)" title="点击查看文档" (click)="goToDoc(apiGroup)">{{apiGroup.name}}</a></td>
              <td>{{apiGroup.url}}</td>
              <td>{{apiGroup.apiPrefix}}</td>
              <td>{{apiGroup.apiInfoUrl}}</td>
              <td>{{apiGroup.description}}</td>
              <td>
                <button *ngIf="!appId" class="btn btn-warning btn-sm" (click)="openEditModal(apiGroup)">编辑</button>
                <button *ngIf="appId" class="btn btn-primary btn-sm" (click)="openManagePermissionWindow(apiGroup)">权限
                </button>
                <button *ngIf="!appId" class="btn btn-danger btn-sm" (click)="delete(apiGroup.id)">删除</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>
